{% extends 'base.html' %}
{% block title %}assignment_4{% endblock %}
{% set page = 'assignment_4' %}

{% block tohen %}

     <form action="/update_user" method="post">

            <input type="text" name="name" placeholder="Insert Name">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="user_name" placeholder="Insert user name">
            <input type="password" name="password" placeholder="Insert password">
             <input type="hidden" name="id" value="{{ id }}">
            <input type="submit">
            </form>


{% endblock %}